<section>
  <div >
    <div class="row">
      <div class="col-2 bg-dark position-sticky pl-5 task_page">
        <a class="nav-link page_links mt-3" href="#" routerLink="/panel/posts/control/-1" routerLinkActive="router-link-active">Add Post</a>
        <a class="nav-link page_links mt-3" href="#" routerLink="/panel/posts" routerLinkActive="router-link-active">View Posts</a>
        <a class="nav-link page_links mt-3" href="#" routerLink="/panel/comments" routerLinkActive="router-link-active">Comments</a>
      </div>
      <div class="col-9 containter">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>