.loading{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

.commentColor{
  background-color:#f2f3f5;
 /* #12312312; */
}

.base_page_color{
  background-color: #e9ebee;
  min-height: 92vh!important;

}
