.base_page_color{
  background-color: #e9ebee;
}

.commentColor{
  background-color: #f2f3f5;
}

.loading{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}